*{
    margin:0;
    padding:0;
}

body{
    height:100vh;
    background: linear-gradient(
        135deg,
        rgb(224, 21, 21),
        rgb(14, 14, 215)
    );

}

.container{
    background-color: rgb(250, 222, 222);
    text-align: center;
    width:60vw;
    margin:auto;
    border-radius: 5px;
    margin-top: 20px;
}

.contain{
    width: 64vw;
}

.container h1{
    font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN,
    Meiryo, MS Gothic;
    color:rgb(83, 83, 188);
}

.container input{
    border: none;
    padding: 6px 42px 5px 7px;
    margin: 12px 8px;
    border-radius: 5px;
}

.btn{
    padding: 6px 19px;
    border: none;
    background: #a78cc0;
    font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
    border-radius: 4px;
}

.task{
    background-color: rgb(250, 222, 222);
    text-align: center;
    width:60vw;
    margin:auto;
    border-radius: 5px;
    margin-top: 20px;
}

ul li {
    list-style: none;
    color: gray;
    padding: 6px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid rgb(224, 98, 89);
    cursor:pointer;
    font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
}

@media (max-width: 550px){
    .container{
        width:80vw;
    }

    .contain{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 82vw;
        flex-wrap: wrap;
    }

    .task{
        width: 80vw;
    }
}

@media (max-width: 380px){
    .btn{
        margin-bottom:10px;
    }

    .contain{
        flex-direction:column;
    }
}

